/* Colors */
:root {
  --primary: #4757FE;
  --secondary: #8494FD;
  --primary-alpha: rgba(71, 87, 254, .075);
  --danger: hsl(348, 100%, 61%);
  --neutral: #F8F8F8;
  --shadow: #ddd;
}

/* Colors Sassa */
$primary: #2F3250;
$neutral: #524F59;
$font: white;
$font-secondary: #86839A;
