@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '_variables';

$types: 'primary', 'danger';

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
.link {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  &:hover {
    color: var(--primary);
  }
  &--primary {
    color: var(--primary);
    &:hover {
      text-decoration: underline;
    }
  }
}

.row {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.pointer {
  cursor: pointer;
}

.grid {
  display: grid;
  @for $i from 1 to 10 {
    &-#{$i} {
      grid-template-columns: repeat(#{$i}, 1fr);
    }
  }
}

.flex {
  display: flex;
  &-column {
    flex-direction: column;
  }
  &-1 {
    flex: 1;
  }
  &-center {
    justify-content: center;
    align-items: center;
  }
}

.board {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
  padding: 0 1rem 1rem;
}

.button {
  border: 0;
  background: var(--color, #ddd);
  color: var(--font, #333);
  padding: .5rem 1rem;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  @each $type in $types {
    &--#{$type} {
      --color: var(--#{$type});
      --font: white;
    }
  }
}
