@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
@import url('https://fonts.googleapis.com/css?family=Product+Sans:100');
@import '_variables';

$types: ('success': $success, 'danger': $danger, 'primary': $primary);

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: $bg;
}
.link {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  &:hover {
    color: var(--primary);
  }
  &--primary {
    color: var(--primary);
    &:hover {
      text-decoration: underline;
    }
  }
}
.no-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.row {
  &:not(:first-child) {
    padding-top: .5rem;
  }
  padding-bottom: .5rem;
}
.pointer {
  cursor: pointer;
}

.text {
  &--primary {
    color: var(--primary, #333);
  }
  &--bold {
    font-weight: 500;
  }
  &--uppercase {
    text-transform: uppercase;
  }
  &--left {
    text-align: left;
  }
  &--center {
    text-align: center;
  }
}

.grid {
  display: grid;
  @for $i from 1 to 10 {
    &-#{$i} {
      grid-template-columns: repeat(#{$i}, 1fr);
    }
  }
}

.button {
  border: 0;
  display: inline-block;
  text-decoration: none;
  background: #ccc;
  color: $font;
  padding: .45rem .75rem;
  font-weight: 500;
  border-radius: 4px;
  flex: 1;
  font-family: 'Roboto', sans-serif;
  &--full {
    width: 100%;
  }
  &--rounded {
    background-image: linear-gradient(to right, var(--secondary), var(--color));
    border-radius: 200px;
    color: var(--font);
  }
  @each $type, $color in $types {
    &--#{$type} {
      background: $color;
    }
  }
}

.table {
  display: table;
  &__group {
    display: table-row-group;
  }
  &__row {
    display: table-row;
  }
  &__cell {
    display: table-cell;
  }
}

.flex {
  display: flex;
  &-column {
    flex-direction: column;
  }
  &-1 {
    flex: 1;
  }
  &-center {
    justify-content: center;
    align-items: center;
  }
}