@import 'variables';

.container {
  height: 100vh;
  .flash-message {
    border-radius: 5px;
    font-size: .9rem;
    margin-bottom: .5rem;
    padding: .5rem;
    &--error {
      color: $danger;
      border: thin solid $danger;
    }
  }
  .feedback-text {
    max-width: 20vw;
    font-size: .9rem;
    line-height: 1.5rem;
    &--small {
      line-height: 1.25rem;
      font-size: .8rem;
    }
  }
}