@import '../../sass/variables';

.card {
  list-style: none;
  padding: .75rem 1.5rem;
  color: $font;
  font-size: .9rem;
  border-radius: 5px;
  &:hover {
    background-color: rgba(150, 150, 150, .1)
  }
  > *:not(:first-child) {
    margin-left: .5rem;
  }
  &__status {
    min-width: 2rem;
    color: $font-secondary;
    text-align: right;
  }
}