@import '../../sass/variables';

.card {
  list-style: none;
  padding: .5rem 0;
  color: $font;
  font-size: .9rem;
  &__image {
    max-width: 100%;
    border-radius: 5px;
  }
  &__buy {
    display: block;
    margin: .25rem 0;
  }
  &__name {
    display: block;
    font-size: 11px;
  }
}