.card {
  text-align: center;
  &__image {
    max-width: 100%;
    border-radius: 5px;
  }
  &__buy {
    display: block;
    margin: .25rem 0;
  }
  &__name {
    display: block;
    font-size: 11px;
  }
}