$types: 'primary', 'danger';

.input-box {
  --radius: 4px;
  --padding: 12px 16px 14px;
  --placeholder: 8px;
  --font: 1rem;
  --font-active: 12px;
  --inactive: rgba(0, 0, 0, .8);

  @each $type in $types {
    &--#{$type} {
      --color: var(--#{$type});
    }
  }
}

$transition: .2s ease-in-out;

.box {
  border: 2px solid transparent;
  border-radius: var(--radius);
  padding: var(--padding);
  position: relative;
  &, &::before {
    transition: border-color $transition;
  }
  &::before {
    content: '';
    position: absolute;
    display: block;
    top: -2px;
    left: -2px;
    height: calc(100% + 2px);
    width: calc(100% + 2px);
    border: thin solid #ccc;
    border-radius: var(--radius);
  }
  &--active {
    border-color: var(--color);
    &::before {
      border-color: transparent;
    }
    .box__container {
      &__placeholder {
        color: var(--color);
        font-size: var(--font-active);
        top: 0;
        background-color: white;
        transform: translateY(-60%);
      }
    }
  }
  &__container {
    position: relative;
    &__placeholder {
      position: absolute;
      padding: 0 .5rem;
      left: var(--placeholder);
      color: var(--inactive);
      transition: all $transition;
    }
    &__input {
      z-index: 1;
      font-size: var(--font);
      background-color: transparent;
      border: none;
      outline: none;
    }
  }
  & + small {
    transition: opacity $transition;
    margin-left: .5rem;
    color: var(--color);
    opacity: 0;
  }
  &--active + small {
    opacity: 1;
  }
}
