.form {
  background-color: white;
  box-shadow: 0px 0 20px 0 #ddd;
  box-sizing: border-box;
  padding: 0 1rem;
  > *:not(:last-child) {
    margin-right: 1rem;
  }
  .header {
    padding: 1rem 0;
    justify-content: flex-start;
    align-items: center;
    &__title {
      text-transform: uppercase;
      font-family: 'Product Sans', sans-serif;
    }
    img {
      max-width: 3.5vw;
      margin-right: 1rem;
    }
  }
  .row > *:not(:last-child) {
    margin-right: .5rem;
  }
  .text-area {
    min-height: 40vh;
    width: 25vw;
  }
  .input-box {
    margin-bottom: 1rem;
  }
  .status {
    max-width: 31vw;
    > * {
      margin: 0 .25rem .25rem 0;
    }
  }
  div.submit {
    text-align: right;
  }
}
