.form {
  > *:not(:last-child) {
    margin-right: 1rem;
  }
  .row > *:not(:last-child) {
    margin-right: .5rem;
  }
  .text-area {
    min-height: 40vh;
    width: 25vw;
  }
  .input-box {
    margin-top: .75rem;
  }
}