@import '../../sass/variables';

.form {
  // background-color: white;
  // box-shadow: 0px 0 20px 0 #ddd;
  // box-sizing: border-box;
  &__container {
    width: 30vw;
  }
  padding: 0 1rem;
  > *:not(:last-child) {
    margin-right: 1rem;
  }
  &__input {
    height: 40vh;
  }
  &__row {
    margin-bottom: .5rem;
  }
  .header {
    padding: 1rem 0;
    justify-content: flex-start;
    align-items: center;
    &__title {
      text-transform: uppercase;
      font-family: 'Product Sans', sans-serif;
      color: $font;
    }
    img {
      max-width: 3.5vw;
      margin-right: 1rem;
    }
  }
  .row > *:not(:last-child) {
    margin-right: .5rem;
  }
  .text-area {
    min-height: 40vh;
    width: 25vw;
  }
  .input-box {
    margin-bottom: 1rem;
  }
  .status {
    > * {
      margin: 0 .25rem .25rem 0;
    }
    margin-bottom: 2rem;
  }
}
