@import '../../sass/variables';

.panel {
  margin: 0;
  padding: 0 2rem 2rem;
  width: 50vw;
  color: $font;
  &__result {
    padding-top: 1rem;
    padding-bottom: 1rem;
    &__title {
      margin-bottom: 1rem;
      border-radius: 200px;
      padding: .5rem 0;
      &__header {
        font-size: 1.25rem;
        font-weight: 500;
      }
      &__price {
      }
    }
  }
}