.panel {
  margin: 0;
  max-width: 42vw;
  padding: 0 2rem 2rem;
  overflow: auto;
  max-height: 100vh;
  &__result {
    padding-top: 1rem;
    padding-bottom: 1rem;
    &__price {
      background-color: white;
      margin-bottom: 1rem;
      border-radius: 200px;
      box-shadow: 0 0 10px 0 var(--shadow);
      padding: .5rem 0;
      &__description {
        border-right: thin solid #eee;
        padding: .5rem .5rem .5rem 1.5rem;
        margin-right: .5rem;
        i {
          margin-right: .5rem;
        }
      }
    }
    &__filter {
      margin-top: .5rem;
    }
  }
}