@import '../../sass/variables';

.badge {
  background-color: transparent;
  padding: .5rem 1rem;
  border-radius: 5px;
  font-size: .85rem;
  color: $font;
  border: thin solid #e0e0e0;
  &:not(&--active) {
    opacity: .35;
  }
  // box-shadow: 0 0 10px -1px var(--shadow);
  &--active {
    color: $primary;
    background-color: $font;
  }
}
