@import '../../sass/variables';

.store {
  padding: 2rem 2rem 1rem;
  border-radius: 5px;
  width: 50vw;
  $trans: .25s linear;
  .collapse--button {
    margin-top: .5rem;
    transition: transform $trans;
    &--expanded {
      transform: rotateZ(-180deg);
    }
  }
  .grid {
    margin-top: 1.5rem;
    grid-gap: .25rem;
  }
  &-list {
    padding-left: 0;
  }
  &__item {
    &__left {
      margin-right: 1rem;
      img {
        $size: 4vw;
        height: $size;
        width: $size;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    &__main {
      border-bottom: thin solid $neutral;
      &__title {
        margin-bottom: .5rem;
        font-size: 1.1rem;
        font-weight: 500;
        margin-right: .5rem;
        color: $font-secondary;
        &--main {
          color: $font;
        }
      }
      &__text {
        color: #666;
        display: block;
        font-size: .95rem;
      }
      small {
        font-size: .85rem;
      }
    }
  }
}
